<% var nComen=0, nAciertos=0, nFallos=0, nQuizCon = 0; var i,j;
   for (i=0; i < quizes.length; i++ ) { 
      nComen += quizes[i].Comments.length;
      nQuizCon += quizes[i].Comments.length?1:0;
      for (j=0; j<quizes[i].Attempts.length; j++){ 
         nAciertos +=quizes[i].Attempts[j]?quizes[i].Attempts[j].aciertos:0;
         nFallos   +=quizes[i].Attempts[j]?quizes[i].Attempts[j].fallos:0 };
   }  var mediaComen = Math.round(nComen/quizes.length * 100)/100; 
      var nQuizSin = quizes.length - nQuizCon;
      var nAttem = nAciertos + nFallos;
   %>   
<table class="stable">
  <tr><td>Número total de Preguntas:</td>          <td><%= quizes.length %></td> </tr>
  <tr><td>Número total de Comentarios:</td>        <td><%= nComen %></td> </tr>
  <tr><td>Media de Comentarios por pregunta:</td>  <td><%= mediaComen %></td> </tr>
  <tr><td>Número de preguntas sin comentarios:</td>  <td><%= nQuizSin %></td> </tr>
  <tr><td>Número de preguntas con comentarios:</td>  <td><%= nQuizCon %></td> </tr>  
  <tr></tr>
  <tr><td>Número total de respuestas:</td>  <td><%= nAttem %></td> </tr>  
  <tr><td>Número de respuestas correctas:</td>  <td><%= nAciertos %></td> </tr>  
  <tr><td>Número de respuestas incorrectas:</td>  <td><%= nFallos %></td> </tr>  
</table>