<table class="htable"><tr>
     <th>Usuario</th>
     <th>Preguntas<br>creadas</th>
     <th>Comentarios<br>creados</th>
     <th>Preguntas<br>respondidas</th>
     <th>Preguntas<br>acertadas</th>
     <th>Aciertos<br>totales</th>
     <th>Fallos<br>totales</th>
<% var nComen=0, nQuizes=0, nAttem=0, nQacer=0; nAciertos=0, nFallos=0; var i,j;
   for (i=0; i < users.length; i++ ) { 
      nComen = users[i].Comments?users[i].Comments.length:0;
      nQuizes = users[i].Quizzes?users[i].Quizzes.length:0;
      nAttem = users[i].Attempts?users[i].Attempts.length:0;
      nAciertos=0; nFallos=0; nQacer=0;
      for (j=0; j < users[i].Attempts.length; j++ ) {
        nQacer += (users[i].Attempts[j].aciertos?1:0);
        nAciertos += users[i].Attempts[j].aciertos;
        nFallos += users[i].Attempts[j].fallos; };
  %> <tr>
     <td><%= users[i].username %></td>
     <td><%= nQuizes %></td>
     <td><%= nComen %></td>
     <td><%= nAttem %></td>
     <td><%= nQacer %></td>
     <td><%= nAciertos %></td>
     <td><%= nFallos %></td>
     </tr>
  <% } %>   
</table>